node_modules
dist
build
*.tsbuildinfo

.env
.env*.local

.vscode
.idea
*.swp
*.swo
.DS_Store
.history

logs
*.log
npm-debug.log*
.pnpm-debug.log*

.turbo
.nx

coverage
.nyc_output

*.tgz
.cache
tmp
temp
